h1 {
    margin: 0px;
}

h2 {
    margin: 0px;
    margin-bottom: 5px;
}

h3 {
    margin: 0px;
    margin-bottom: 5px;
}

.detailText {
    /* margin: 0px; */
    font-size: 12px;
    line-height: 135%;
}

.subtitleText {
    /* margin: 0px; */
    margin-top: -5px;
    margin-bottom: 5px;
    font-size: 14px;
    font-style: italic;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
}

dt {
    font-weight: bold;
}

dl {
    margin-top: 0;
    margin-bottom: 0;
}

dd {
    margin-left: 2em;
}

.centerText {
    text-align: center;
}

body {
    background-color: white;
    color: black;
    max-width: 750px;
    margin: auto;
    /* Set font to prefer system font (and then system-like) */
    font-family: system-ui, Helvetica, Arial, Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.header {
    /* padding: 15px; */
    padding-top: 15px;
    text-align: center;
    /* font-size: 30px; */
}

.information {
    padding: 15px;
    text-align: left;
    background-color: rgba(128, 128, 128, 0.25);
    border-radius: 15px;
    /* max-width: 750px; */
    margin: auto;
    overflow: auto;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: flex-start; */
}

ul {
    list-style-type: none;
    padding-left: 0.75em;
}

ul li:before{
    content: "-";
    margin-right: 0.75em;
}

.avatar {
    border-radius: 50%;
    max-width: 150px;
    float: left;
    margin-right: 15px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

.avatarFloat {
    /* border-radius: 50%; */
    max-width: 150px;
    float: left;
    margin-right: 15px;
    /* box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5); */
}

.icon {
    max-width: 150px;
    float: left;
    padding-right: 15px;
}

.miniicon {
    max-width: 75px;
    max-height: 75px;
    float: left;
    padding: 5px;
    /* padding-right: 15px; */
}

.preview {
    max-width: 150px;
    float: left;
    margin-right: 15px;
    border-radius: 10px;
}

.badge {
    padding: 0px 5px;
}

.navBar {
    /* margin: 15px; */
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.buttonDrawer {
    /* margin: 10px; */
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.labelDrawer {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.sharedDrawer {
    display: flex;
    justify-content: space-between;
}

.centerDrawer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.pillLabel {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    
    color: rgba(0, 0, 0, 0.65);
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.35);

    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;

    text-align: center;
    vertical-align: middle;
}

.pillButton a {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    /* background-color: white; */
    color: black;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    font-size: 14px;

    align-content: center;
}

.pillButton a.active {
    background-color: rgba(128, 128, 128, 0.25);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

.pillButton a:hover {
    background-color: #3D7AFF;
    color: white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5) inset;
}

a {
    text-decoration: none;
}

.teaser {
    margin: 60px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.row {
    padding: 7.5px;
}
/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding-left: 7.5px;
    padding-right: 7.5px;
}

.mainColumn {
    width: 100%;
    padding-left: 7.5px;
    padding-right: 7.5px;
}
  
/* Clear floats after the columns */
.row:after {
    box-sizing: border-box;
    content: "";
    display: table;
    clear: both;
}

* {
    box-sizing: border-box;
}

a {
    color: black;
}
a:hover {
    color: blue;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;    
        padding-top: 7.5px;
        padding-bottom: 7.5px;
    }

    .row {
        padding-bottom: 0px;
    }
}

/* Dark Mode support */
@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }
    .pillButton a {
        /* background-color: black; */
        color: white;
    }
    .pillLabel {
        color: rgba(255, 255, 255, 0.65);
        border-color: rgba(255, 255, 255, 0.35);
    }

    a {
        color: white;
    }
}